@page "{userGroup}"
@model FlowProtocol.Pages.FlowTemplates.ListModel
@{
    ViewData["Title"] = "Vorlagen";
}
<h2>Vorlagen @Model.UserGroup</h2>
<p>Wählen Sie die Vorlage aus, die Sie anwenden möchten.</p>
@foreach (var group in Model.TemplateGroups)
{
  <h5>@group.Key</h5>
  <table class="cinereousTable">
    <tbody>
    @for(int row = 0; row < group.Value?.Rows; row++)
    {
      <tr>
        @for(int col = 0; col < group.Value?.Cols; col++)
        {          
          @if(group.Value.Array?[row,col] != null)
          {
            <td >
            <a asp-page="./Apply" asp-route-template="@group.Value.Array[row,col]?.TemplatePath">@group.Value.Array[row,col]?.TemplateName</a>
            </td>
          }          
        }
      </tr>      
    }
  </tbody>
  </table>
  <br>
}