@page
@model FlowProtocol.Pages.FlowTemplates.NoTemplateModel
@{
}
<h3>Keine Vorlage gefunden</h3>
<p>Die gewählte Vorlage konnte nicht gefunden oder geladen werden. Bitte wenden Sie sich an den Administrator des Systems.</p>