@page
@model IndexModel
@{
    ViewData["Title"] = "Startseite";
}

<div class="text-center">
    <h1 class="display-4">Willkommen bei FlowProtocol</h1>
    <p>Prüflisten erstellen anhand von Prüffragen.</p>
</div>
