@page
@model IndexModel
@{
    ViewData["Title"] = "Startseite";
}

<div class="text-center">
    <h1 class="display-4">Willkommen bei FlowProtocol</h1>
    <blockquote>
    <p><i>&bdquo;Ein Narr kann mehr fragen, als sieben Weise beantworten können.&ldquo;</i><br />&mdash; Sprichwort</p>
    </blockquote>
    <p>Das einfache Tool für dynamische Checklisten und Workflows</p>
</div>
