@page
@model InstructionModel
@{
    ViewData["Title"] = "Anleitung";
}
<h1>Anleitung</h1>
<p>
    <em>FlowProtocol</em> ist eine einfache Plattform zur Anwendung von Vorlagen, mit denen sich Prüfprotokolle anhand von
    gezielten Fragen erstellen lassen, um die eigene Arbeit qualitativ abzusichern.
</p>
<h5>Anwendergruppen</h5>
<p>
    Die Anwendbarkeit von <em>FlowProtocol</em> ist vielfältig und innerhalb einer Einrichtung für verschiedene Anwendergruppen
    sinnvoll sein. Im Umfeld der Softwareentwicklung könnten dies etwa die Entwickler, die Product Owner und die UX-Experten sein,
    die jeweils spezielle Vorlagen für ihre Tätigkeiten anwenden wollen.
    Um diese Anwendergruppen abzubilden, solle zunächst für jede Anwendergruppe auf @Model.TemplatePath ein Unterverzeichnis mit der 
    Bezeichnung der Anwendergruppe angelegt werden.
</p>