@page
@model InstructionModel
@{
    ViewData["Title"] = "Anleitung";
}
<h1>Anleitung</h1>
<p>
    Die Absicherung der Programmfunktionalität bei Änderungen und Neuentwicklungen durch umfassende Integrationstests
    ist ein absolutes Muss in der professionellen Softwareentwicklung. Gleichermaßen ist es eine anspruchsvolle Aufgabe, 
    die jeweils relevanten Aspekte zu erkennen und in Form von Testpunkten auszuformulieren.
    *FlowProtocol* hilft bei diesem Schritt, indem es themenbezogen Fragen an den Entwickler richtet, aus deren Antworten dann
    die notwendigen Prüfpunkte zusammengestellt werden. 
</p>
<h5>Vorlagen</h5>
<p>
    *FlowProtocol* liefert die Plattform auf der fachlich spezifische Vorlagen erstellt werden können.
    Eine Vorlage umfasst dabei ein bestimmte Art von Entwicklung, in der ganz bestimmte Prüfpunkte unter 
    ganz bestimmten Bedingungen zum Tragen kommen. Eine Vorlage kann sich so zum Beispiel auf die Entwicklung einer
    Komponente beziehen, die grundsätzlich nach einem bestimmten Muster erfolgt und dementsprechend eine vorhersehbare Menge von
    Funktionalität aufweisen kann.
</p>