html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table.cinereousTable {
  font-family: Verdana, Geneva, sans-serif;
  border: 6px solid #948473;
  background-color: #FFE3C6;
  width: 100%;
  text-align: center;
}
table.cinereousTable td, table.cinereousTable th {
  border: 3px solid #948473;
  padding: 6px 2px;
}
table.cinereousTable tbody td {
  font-size: 18px;
}
table.cinereousTable tfoot td {
  font-size: 16px;
}
pre code {
  background-color: #eee;
  border: 3px solid #eee;
  display: block;
}
.formbuilder-radio span {
  display: block;
  padding-left: 20px;
  cursor: inherit;
}
.formbuilder-radio input {
  float: left;
  width: 20px;
  margin-left: -20px;
  margin-top: 6px;
  padding: 0;
}
.formbuilder-radio label {
  padding-left: 5px;
}